{{#each poem}}
<div class="offer-item">
  <div class="offer-info">
    <div class="theme">{{title}}</div>
    <div class="info-text tag">Люди</div>
    <div class="info-text date">Всегда актуально</div>
    <div class="info-text location">Москва</div>
  </div>
  <div class=""></div>
  <div class=""></div>
  <div class="author">
    <span class="name">{{author}}</span>
    <span>предлагает</span>
  </div>
</div>
{{/each}}
