* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "PFAgoraSansPro-Regular";
  src: url("../fonts/pfagorasanspro-reg.eot");
  src: url("../fonts/pfagorasanspro-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-reg.otf") format("opentype"), url("../fonts/pfagorasanspro-reg.svg") format("svg"), url("../fonts/pfagorasanspro-reg.ttf") format("truetype"), url("../fonts/pfagorasanspro-reg.woff") format("woff"), url("../fonts/pfagorasanspro-reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PFAgoraSansPro-XThin";
  src: url("../fonts/pfagorasanspro-xthin.eot");
  src: url("../fonts/pfagorasanspro-xthin.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagorasanspro-xthin.otf") format("opentype"), url("../fonts/pfagorasanspro-xthin.svg") format("svg"), url("../fonts/pfagorasanspro-xthin.ttf") format("truetype"), url("../fonts/pfagorasanspro-xthin.woff") format("woff"), url("../fonts/pfagorasanspro-xthin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  background: #fcfcfc;
  font-family: Arial, sans-serif;
  font-size: 14px; }

.container {
  width: 950px;
  margin: 100px auto 0;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 20px;
          column-gap: 20px; }

.filter {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background: #fff; }

.fast-filters,
.categories {
  list-style: none;
  font-size: 0; }

.ff-item {
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px dotted #e6e6e6;
  font-family: "PFAgoraSansPro-XThin", sans-serif;
  color: #6c87b8;
  font-size: 14px;
  cursor: pointer; }

.categories {
  font-size: 14px; }

.offer-item {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  cursor: pointer; }
  .offer-item:hover {
    border: 2px solid #abc9e8;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4); }
    .offer-item:hover .more-button {
      display: block; }

.more-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: #abc9e8;
  font-family: "PFAgoraSansPro-Regular", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center; }

.offer-cover {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.offer-info {
  padding: 10px 15px;
  font-size: 11px;
  color: #9e9e9e; }

.theme {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

.counters {
  margin-top: 40px; }
  .counters .likes {
    padding-right: 10px; }

.offer-comment-block {
  padding: 5px 15px;
  background: #f1f1f1; }

.author,
.offer-author {
  display: inline-block;
  vertical-align: top; }

.offer-author,
.comment-author {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #cdcdcd; }

.author span {
  display: block;
  font-size: 11px;
  font-style: italic;
  color: #9e9e9e; }

.author .name {
  font-family: "PFAgoraSansPro-XThin", sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #6c87b8; }

.popup {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -405px;
  width: 810px;
  min-height: 555px;
  z-index: 10;
  background: #fff;
  border-radius: 5px; }
  .popup .author-block {
    float: left;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid #e6e6e6; }
  .popup .offer-author {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    width: 76px;
    height: 76px;
    border-radius: 38px; }
  .popup .close {
    float: right;
    color: #9e9e9e; }
  .popup .author {
    display: inline-block;
    vertical-align: middle; }
    .popup .author span {
      display: block;
      font-size: 14px;
      font-style: italic;
      color: #9e9e9e; }
    .popup .author .name {
      font-family: "PFAgoraSansPro-XThin", sans-serif;
      font-size: 22px;
      font-style: normal;
      color: #6c87b8; }
  .popup-left-block {
    float: left;
    width: 640px;
    border-right: 1px solid #e6e6e6;
    padding: 20px 30px 30px 40px;
    font-family: "PFAgoraSansPro-Regular", sans-serif; }
    .popup-left-block .offer-cover {
      width: 100%;
      height: auto;
      border-radius: 0;
      margin: 10px 0; }
    .popup-left-block-title {
      font-size: 24px; }
    .popup-left-block-topic {
      font-size: 16px;
      color: #9e9e9e; }
    .popup-left-block-description {
      font-family: Arial, sans-serif; }
  .popup .comments {
    background: #f1f1f1;
    font-size: 12px;
    color: #9e9e9e;
    clear: both; }
    .popup .comments .comment-item,
    .popup .comments .add-comment {
      padding: 20px 30px 20px 40px;
      border-top: 1px solid #e6e6e6; }
    .popup .comments .comment-author {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-right: 30px; }
    .popup .comments .comment-text,
    .popup .comments .comment-section {
      display: inline-block;
      vertical-align: top;
      width: 85%; }
    .popup .comments .comment-section {
      height: 55px;
      padding: 5px 10px;
      resize: none; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer; }
