$line-color: #e6e6e6;
$link-color: #6c87b8;
$hover-color: #abc9e8;
$offer-text-color: #9e9e9e;
$offer-author-background: #f1f1f1;
$offer-border-color: #cdcdcd;
$main-background: #fcfcfc;

@mixin gradient($color1, $color2) { background: linear-gradient(to bottom, $color1, $color2); }
@mixin button($width, $font-color, $color1, $color2) {
  width: $width; padding: 2px 0; border: 1px solid $color1; border-radius: 3px; @include gradient($color1, $color2); cursor: pointer; text-align: center; font-family: "PFAgoraSansPro-Regular", sans-serif; font-size: 14px; color: $font-color;
  &:hover { @include gradient($color2, $color1); }
  &:active { background: darken(mix($color1, $color2), 10%); box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.4); }
}
@mixin font-face($font-name, $file-name, $path: '../fonts/', $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + $file-name + '.eot');
    src: url($path + $file-name + '.eot?#iefix') format('embedded-opentype'),
         url($path + $file-name + '.otf') format('opentype'),
         url($path + $file-name + '.svg') format('svg'),
         url($path + $file-name + '.ttf') format('truetype'),
         url($path + $file-name + '.woff') format('woff'),
         url($path + $file-name + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

* { margin: 0; padding: 0; box-sizing: border-box; }

@include font-face('PFAgoraSansPro-Regular', 'pfagorasanspro-reg');
@include font-face('PFAgoraSansPro-XThin', 'pfagorasanspro-xthin');

body { min-height: 100vh; background: $main-background; font-family: Arial, sans-serif; font-size: 14px; }
.container { width: 950px; margin: 0 auto; padding-top: 100px; column-count: 4; column-gap: 20px; }
.filter { margin: 20px 0; padding: 10px; border: 1px solid $line-color; border-radius: 10px; background: #fff; }
.fast-filters,
.categories { list-style: none; font-size: 0; }
.ff-item { display: inline-block; padding: 5px 10px; border-right: 1px dotted $line-color; font-family: "PFAgoraSansPro-XThin", sans-serif; color: $link-color; font-size: 14px; cursor: pointer; }
.categories { font-size: 14px; }


.offer-item {
  display: inline-block; position: relative; vertical-align: baseline; width: 100%; margin: 10px 0; border: 2px solid $line-color; border-radius: 10px; cursor: pointer;
  &:hover {
    border-color: $hover-color; box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
    .more-button { display: block; }
  }
}
.more-button { display: none; position: absolute; top: 0; left: 0; width: 100%; padding: 5px; background: $hover-color; font-family: "PFAgoraSansPro-Regular", sans-serif; font-size: 12px; color: #fff; text-align: center;}
.offer-cover { display: block; width: 100%; height: auto; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.offer-info { padding: 10px 15px; font-size: 11px; color: $offer-text-color; }
.theme {  margin-bottom: 10px; font-weight: bold; font-size: 12px; color: #000; }
.counters {
  margin-top: 40px;
  .likes { padding-right: 10px; }
}
.offer-comment-block,
.comment-item,
.add-comment { padding: 5px 15px; background: $offer-author-background; }
.author,
.offer-author { display: inline-block; vertical-align: top; }
.offer-author,
.review-author,
.comment-author { width: 30px; height: 30px; border-radius: 15px; margin-right: 5px; padding: 3px; border: 1px solid $offer-border-color; }
.author {
  span { display: block; font-size: 11px; font-style: italic; color: $offer-text-color; }
  .name { font-family: "PFAgoraSansPro-XThin", sans-serif; font-size: 12px; font-style: normal; color: $link-color; }
}

.popup {
  display: none; position: absolute; top: 50px; left: 50%; margin-left: -405px; margin-bottom: 50px; width: 810px; z-index: 10; background: #fff; border-radius: 5px;
  .author-block { float: left; width: 100%; padding: 5px 10px; border-bottom: 1px solid $line-color; }
  .offer-author { display: inline-block; vertical-align: middle; margin-left: 25px; width: 76px; height: 76px; border-radius: 38px; }
  .close { float: right; color: $offer-text-color; cursor: pointer; }
  .author {
    display: inline-block; vertical-align: middle; width: 190px;
    span { display: block; font-size: 14px; font-style: italic; color: $offer-text-color; }
    .name { font-family: "PFAgoraSansPro-XThin", sans-serif; font-size: 22px; font-style: normal; color: $link-color; }
  }
  .add-friend-button { display: inline-block; vertical-align: middle; @include button(140px, #fff, #b652a7, #a2218d); }
  &-left-block {
    float: left; width: 640px; border-right: 1px solid $line-color; padding: 15px 30px 30px 40px; font-family: "PFAgoraSansPro-Regular", sans-serif;
    .offer-cover { width: 100%; height: auto; border-radius: 0; margin: 10px 0; }
    &-title { font-size: 24px; }
    &-topic { font-size: 16px; color: $offer-text-color; }
    &-description { font-family: Arial, sans-serif; }
  }
  &-right-block {
    float: right; width: 170px;
    .popup-button {
      margin: 0 auto 15px; @include button(125px, #9c9da1, #d4d4d4, $offer-author-background);
      &:first-child { margin-top: 70px; }
    }
  }
  &-list {
     padding: 10px 30px 18px 40px; background: #fff;
    &:not(:first-child) { border-top: 1px solid $line-color; }
     &-text { margin-bottom: 10px; font-family: "PFAgoraSansPro-Regular", sans-serif; font-size: 16px; }
     .comment-author { margin: 8px 5px; }
  }
}

.comments,
.reviews {
  background: $offer-author-background; font-size: 12px; color: $offer-text-color; clear: both;
  .review-item,
  .add-review,
  .popup-list { padding: 20px 30px 20px 40px; border-top: 1px solid $line-color; }
  .comment-text,
  .comment-section,
  .review-text,
  .review-section { display: inline-block; vertical-align: top; width: 85%; }
  .comment-section,
  .review-section { height: 55px; padding: 5px 10px; resize: none; border: 1px solid $offer-border-color; }
  .comment-section,
  .comment-text { width: 78%; }
  .comment-section { height: 25px; font-size: 11px; }
}
.review-author { display: inline-block; vertical-align: top; width: 50px; height: 50px; border-radius: 25px; margin-right: 30px; }

.overlay { display: none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 5; background: rgba(0, 0, 0, 0.4); cursor: pointer; }

