!!! 5
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %title Bubblewell
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
    %script{src: "javascripts/main.js"}
  %body
    .popup.js-popup
    .overlay.js-overlay
    .container.js-container


%script#offers-template{type: "text/x-handlebars-template"}
  .offer-item{data: {id: "{{offer.offerId}}"}}
    .open-popup-button Ознакомиться с предложением
    .extra-icons
      %img.extra-icon{src: "img/lamp.svg"}
      %img.extra-icon.js-like-offer{src: "img/heart.svg"}
      %img.extra-icon.js-add-offer{src: "img/plus.svg"}
      %img.extra-icon.js-show-comments{src: "img/message.svg"}
    %img.offer-cover{src: "{{offer.imageURL}}"}
    .offer-info
      .title {{offer.title}}
      .info-text.topic {{offer.topic}}
      .info-text.date {{offer.actualTime}}
      .info-text.location {{offer.location}}
      .counters
        {{#if offer.likes.length}}
        %span.counter.liked
          %span {{offer.likes.length}}
          %span нравится
        {{/if}}
        {{#if offer.comments.length}}
        %span.counter.commented
          %span {{offer.comments.length}}
          %span комментария
        {{/if}}
        {{#if offer.reviews.length}}
        %span.counter.reviewed
          %span {{offer.reviews.length}}
          %span отзыва
        {{/if}}
        {{#if offer.added.length}}
        %span.counter.added
          %span {{offer.added.length}}
          %span добавили себе
        {{/if}}
    .offer-comment-block
      %img.offer-author{src: "{{offer.author.userImage}}"}
      .author
        %span.name {{offer.author.fullName}}
        %span предлагает
    .comments.hidden
      {{#each (limit offer.comments 5)}}
      %div{data: {id: "{{commentId}}"}, class:"comment-item {{#if isDeleted}} deleted {{/if}}"}
        %span.close-icon.js-delete-comment X
        %img.comment-author{src: "{{userImage}}"}
        .comment-text {{comment}}
      {{/each}}
      %form.add-comment{data: {id: "{{offer.offerId}}"}}
        %img.user.comment-author{src: "{{user.userImage}}"}
        %textarea.comment-section{placeholder: "Комментировать", rows: "1"}

%script#popup-template{type: "text/x-handlebars-template"}
  .author-block
    %img.offer-author{src: "{{offer.author.userImage}}"}
    .author
      %span.name {{offer.author.fullName}}
      %span нуждается в этом
    .add-friend-button Добавить в друзья
    .close
      %span Закрыть
      %span.close-icon X
  .popup-left-block
    .popup-left-block-title {{offer.title}}
    .popup-left-block-topic {{offer.topic}}
    %img.offer-cover{src: "{{offer.imageURL}}"}
    .popup-left-block-description {{offer.description}}
  .popup-right-block{data: {id: "{{offer.offerId}}"}}
    .popup-button.add-offer.js-popup-add-offer Добавить к себе
    .popup-button.like-offer.js-popup-like-offer Мне нравится
    .popup-button.comment-offer Комментировать
    .popup-button.js-delete-offer Удалить оффер
  .reviews{data: {id: "{{offer.offerId}}"}}
    {{#each (limit offer.reviews 3)}}
    %div{data: {id: "{{reviewId}}"}, class:"review-item {{#if isDeleted}} deleted {{/if}}"}
      %span.close-icon.js-delete-review X
      %img.review-author{src: "{{userImage}}"}
      .review-text {{review}}
    {{/each}}
    %form.add-review{data: {id: "{{offer.offerId}}"}}
      %img.user.review-author{src: "{{user.userImage}}"}
      %textarea.review-section{placeholder: "Комментировать", maxlength: "500", rows: "2"}
  {{#if offer.added.length}}
  .popup-list.popup-added
    .popup-list-text {{offer.added.length}} добавили себе
    {{#each offer.added}}
    %img.review-author{src: "{{userImage}}"}
    {{/each}}
  {{/if}}
  {{#if offer.likes.length}}
  .popup-list.popup-likes
    .popup-list-text {{offer.likes.length}} нравится
    {{#each offer.likes}}
    %img.review-author{src: "{{userImage}}"}
    {{/each}}
  {{/if}}
