!!! 5
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %title Title
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
    %script{src: "javascripts/jquery-3.2.1.js"}
    %script{src: "javascripts/handlebars-v4.0.10.js"}
    %script{src: "javascripts/application.js"}
  %body
    .popup
      .author-block
        %img.offer-author{src: "{{imageURL}}"}
      .close
        %span Закрыть
        %span.close-icon x
    .overlay
    .container.js-container


%script#template{type: "text/x-handlebars-template"}
  {{#each offers}}
  .offer-item
    .more-button{data: {id: "{{id}}"}} Ознакомиться с предложением
    %img.offer-cover{src: "{{imageURL}}"}
    .offer-info
      .theme {{title}}
      .info-text.tag {{topic}}
      .info-text.date {{actualTime}}
      .info-text.location {{location}}
      .counters
        %span.likes {{likes}} нравится
        %span.added {{added}} добавили себе
    .offer-comment-block
      %img.offer-author{src: "{{imageURL}}"}
      .author
        %span.name {{author}}
        %span предлагает
  {{/each}}