!!! 5
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %title Title
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
    %script{src: "javascripts/main.js"}
  %body
    .popup.js-popup
    .overlay
    .container.js-container


%script#offers-template{type: "text/x-handlebars-template"}
  .offer-item
    .more-button{data: {id: "{{offer.offerId}}"}} Ознакомиться с предложением
    %img.offer-cover{src: "{{offer.imageURL}}"}
    .offer-info
      .theme {{offer.title}}
      .info-text.tag {{offer.topic}}
      .info-text.date {{offer.actualTime}}
      .info-text.location {{offer.location}}
      .counters
        %span.likes {{#if offer.likes.length}} {{offer.likes.length}} {{else}} 0 {{/if}} нравится
        %span.added {{#if offer.added.length}} {{offer.added.length}} {{else}} 0 {{/if}} добавили себе
    .offer-comment-block
      %img.offer-author{src: "{{offer.author.userImage}}"}
      .author
        %span.name {{offer.author.fullName}}
        %span предлагает
    .comments
      {{#each offer.comments}}
      .comment-item
        %img.comment-author{src: "{{userImage}}"}
        .comment-text {{comment}}
      {{/each}}
      %form.add-comment{data: {id: "{{offer.offerId}}"}}
        %img.user.comment-author{src: "{{user.userImage}}"}
        %input.comment-section{placeholder: "Комментировать"}


%script#popup-template{type: "text/x-handlebars-template"}
  .author-block
    %img.offer-author{src: "{{offer.author.userImage}}"}
    .author
      %span.name {{offer.author.fullName}}
      %span нуждается в этом
    .add-friend-button Добавить в друзья
    .close
      %span Закрыть
      %span.close-icon X
  .popup-left-block
    .popup-left-block-title {{offer.title}}
    .popup-left-block-topic {{offer.topic}}
    %img.offer-cover{src: "{{offer.imageURL}}"}
    .popup-left-block-description {{offer.description}}
  .popup-right-block
    .popup-button Добавить к себе
    .popup-button Мне нравится
    .popup-button Комментировать
  .reviews
    {{#each offer.reviews}}
    .review-item
      %img.review-author{src: "{{userImage}}"}
      .review-text {{review}}
    {{/each}}
    %form.add-review
      %img.user.review-author{src: "{{user.userImage}}"}
      %textarea.review-section{placeholder: "Комментировать"}
  {{#if offer.added.length}}
  .popup-list.popup-added
    .popup-list-text {{offer.added.length}} добавили себе
    {{#each offer.added}}
    %img.review-author{src: "{{userImage}}"}
    {{/each}}
  {{/if}}
  {{#if offer.likes.length}}
  .popup-list.popup-likes
    .popup-list-text {{offer.likes.length}} нравится
    {{#each offer.likes}}
    %img.review-author{src: "{{userImage}}"}
    {{/each}}
  {{/if}}
